<content id="metadata" type="x-handlebars-metadata">
    { "fields": ["SPWebUrl", "Path", "LastModifiedTime", "Title","EditorOWSUSER","Author"], "query": "", "sort": "" }
</content>

<content id="template" type="x-handlebars-template">
    <style>
        .myRow {
            padding: 25px;
        }

        .myRow a.disabled,
        .myRow a.disabled:visited,
        .myRow a.disabled:hover {
            color: #a6a6a6;
            text-decoration: none;
        }

    </style>
  
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(function () {
            $('.myRow').css('background-color', '#ffffff');
        });

    </script>

	<script id="docList" type="text/x-handlebars-template">

        <h1>{{wpTitle}}</h1>

		<table style="text-align:left;">
			<thead>
				<th>Titel</th>
				<th>Autor</th>
				<th>Geändert von</th>
				<th>Zuletzt geändert am</th>
			</thead>

			{{#group items by="SPWebUrl"}}

			<tr style="column-span: 4;">
				<td style="font-weight:bold;font-size:18px;padding-top:20px;">
					{{getClientNameFromUrl value}}
				</td>
			</tr>

			{{#each items}}
			
			<tr>
				<td style="padding-right:10px"><a href="{{Path}}" class="ms-fontColor-black">{{getFileNameFromPath Path}}</a></td>
				<td style="padding-right:10px">{{splitDisplayNames Author}}</td>
				<td style="padding-right:10px">{{splitSPUser EditorOWSUSER 'displayName'}}</td>
				<td style="padding-right:10px">{{moment LastModifiedTime "DD.MM.YYYY"}}</td>
			</tr>
			{{/each}}
			{{/group}}	
		</table>
		<br/>
		<br/>

		<a id="prevPage" class="ms-fontColor-black" href="javascript:;">Previous</a> <a id="nextPage" class="ms-fontColor-black" href="javascript:;">Next</a>
</script>

<script type="text/javascript">
	var source = $("#docList").html();
	document.getElementById("myContent").innerHTML = source;
</script>

	
	<div class="myRow ms-Grid-row ms-bgColor-blueDark ms-fontColor-black myRow" id="myContent"></div>

</content>
